<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css">
<link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/pure-min.css" integrity="sha384-LTIDeidl25h2dPxrB2Ekgc9c7sEC3CWGM6HeFmuDNUjX76Ert4Z4IY714dhZHPLd" crossorigin="anonymous">



{% block body %}
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <form method="post" {# action="{{ path('admin') }}" #}>

                <h1 class="h3 mb-3 font-weight-normal">Merci de vous identifier</h1>
                <br>
                <br>
                <br>
                <label for="inputEmail">Identifiant</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       required autofocus>
                <br>
                <br>
                <label for="inputPassword">Mot de passe</label>
                <input type="password" name="password" id="inputPassword" class="form-control" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <br>
                <br>

                {#
                Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                See https://symfony.com/doc/current/security/remember_me.html #}


                <button class="btn btn-lg btn-primary" type="submit">
                    Connexion
                </button>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                {# <div class="checkbox mb-3"> #}
                <label>
                    <input type="checkbox" name="_remember_me"> Remember me
                </label>
                <br>
                <br>
                <a href="#">Mot de passe oublié</a>

                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                {# {% if app.user %} #}
                {# <div class="mb-3"> #}
                {# You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a> #}
                {# </div> #}
                {# {% endif %} #}
        </div>
    </div>
    </form>
{% endblock %}
