<!--  1ère colonne : espacement du bord droit -->
<div class="pure-u-1-5"></div>

<!--  2ème colonne : infos -->
<div class="pure-u-1-4">
    {{ form_start(form) }}

    {{ form_row(form.pseudo) }}
    {{ form_row(form.prenom) }}
    {{ form_row(form.nom) }}
    {{ form_row(form.telephone) }}
</div>

<!--  3ème colonne : espace entre les deux colonnes d'infos -->
<div class="pure-u-1-8"></div>

<!--  4ème colonne : infos -->
<div class="pure-u-1-4">
    {{ form_row(form.email) }}
    {{ form_row(form.password) }}
    {{ form_row(form.site) }}
</div>

<div class="pure-u-1-5"></div>
<div class="pure-u-1-4">
    <button class="button-success pure-button button-xlarge pure-input-rounded m-5">{{ button_label|default('Enregistrer') }}</button>
    <a href="{{ path('sortie_index') }}"
       class="button-error pure-button button-xlarge pure-input-rounded m-5">Annuler</a>
</div>

{{ form_end(form) }}




