{{ form_start(form) }}
    {{ form_widget(form) }}
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}
<a class = "btn btn-danger"href="{{ path('sortie_index') }}"> Annuler </a>
