{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
    <div>
    {{   "now"|date("m/d/Y") }}
        <!-- if(participant){ session.nom }-->
    </div>

    <div>
        <!-- /à gauche -->
    <h3>Filtrer les sorties</h3>
        Site :
            {% for sortie in sorties %}
                {{ sortie.sites_organisateur }}<!-- Liste déroulante des sites -->
            {% endfor %}
    <br><br>
    Le nom de la sortie contient : <input type="text"><!-- Input -->
    <br><br>
        Entre <input type="date"> et <input type="date">
        <!-- /à gauche-->

        <!-- /à droite -->


        <!-- /à droite-->
    </div>

<br><br>

    <div>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>Inscriptions/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.nbInscriptionsMax }}</td>
                <td>{{ sortie.etats_no_etat }}</td>
                <td>Inscrit</td>
                <td> Organisateur</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Success Button</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>

    <a class="pure-button" href="{{ path('sortie_new') }}">Create new</a>
    </div>
{% endblock %}
