{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <div id="date" >
        Date du jour : {{ "now"|date("d/m/Y") }}
        <br>
        Participant : <!-- if(participant){ session.nom }-->
    </div>

    <div class="container">
        <h3>Filtrer les sorties</h3>
                <!-- à gauche -->
                <form class="pure-form" action="#" method="POST">
                        <div class="row">
                            <div class="pure-u-3">


                                <label for="site">
                                    Site
                                    <select id="site">            <!-- Liste déroulante des sites -->
                                        {% for site in sites %}
                                            <option>{{ site.nom }}</option>
                                        {% endfor %}
                                    </select>
                                </label>

                                <br>
                                Le nom de la sortie contient : <input type="text" name="search" class="pure-input-rounded" placeholder="search"><!-- Input -->
                                <br><br>
                                Entre <input type="date" name="date_debut"> et <input type="date" name="date_cloture">
                            </div>
                            <!-- /à gauche-->

                            <!-- à droite -->
                            <div class="col-m-3">
                                <label for="checkbox-radio-option-one" class="pure-checkbox">
                                    <input type="checkbox" id="checkbox-radio-option-one" value="1" /> Sorties dont je suis l'organisateur/trice</label>
                                <label for="checkbox-radio-option-two" class="pure-checkbox">
                                    <input type="checkbox" id="checkbox-radio-option-two" value="2" /> Sorties auxquelles je suis inscrit/e</label>

                                <label for="checkbox-radio-option-three" class="pure-checkbox">
                                    <input type="checkbox" id="checkbox-radio-option-three" value="3" /> Sorties auxquelles je ne suis pas inscrit/e</label>
                                <label for="checkbox-radio-option-four" class="pure-checkbox">
                                    <input type="checkbox" id="checkbox-radio-option-four" value="4" /> Sorties passées</label>
                            </div>
                            <!-- /à droite-->

                            <div class="pure-u-3">
                                <br><br>
                                &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<button class="pure-button pure-button-primary pure-input-rounded m-5">Rechercher</button>
                            </div>
                        </div>
                </form>
    </div>

    <div class="container">
            <table class="pure-table pure-table-horizontal">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Cloture</th>
                    <th>Inscriptions/places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for sortie in sorties %}
                    <tr>
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d-m-Y H:i:s') : '' }}</td>
                        <td>{{ sortie.dateCloture ? sortie.dateCloture|date('d-m-Y') : '' }}</td>
                        <td>0/{{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etatsNoEtat.libelle }}</td>
                        <td style="text-align: center">X</td>
                        <td>{{ sortie.organisateur.nom }}</td>
                        <td>
                            <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                            <a href="{{ path('sortie_index') }}">Annuler</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="9">no records found</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
    </div>
    <br><br>
    <div class="container">
        <a href="{{ path('sortie_new') }}"><button class="pure-button pure-button-primary">Créer une sortie</button></a>&nbsp;
    </div>
{% endblock %}
