{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
    <div>
    <div>

    {{   "now"|date("m/d/Y") }}
        <!-- if(participant){ session.nom }-->
        </div>


        <!-- /à gauche -->
    <h3>Filtrer les sorties</h3>
        Site :
            {% for sortie in sorties %}
                {{ sortie.sites_organisateur }}<!-- Liste déroulante des sites -->
            {% endfor %}
    <br><br>
    Le nom de la sortie contient : <input type="text"><!-- Input -->
    <br><br>
        Entre <input type="date"> et <input type="date">
        <!-- /à gauche-->

            <form class="pure-form pure-form-aligned" action="" method="">
                Site

                <select name="search"><option></option></select><!-- Liste déroulante des sites -->

                <br>
                Le nom de la sortie contient : <input type="text" name="search" class="pure-input-rounded" placeholder="search"><!-- Input -->
                <br>
                Entre <input type="date" name="date_debut"> et <input type="date" name="date_cloture">
                <!-- /à gauche-->

                <!-- /à droite -->
                <div>
                    <input type="checkbox" name="sorties" value="1"><label> Sorties dont je suis l'organisateur/trice</label>
                    <input type="checkbox" name="sorties" value="2"><label> Sorties auxquelles je suis inscrit/e</label>
                    <input type="checkbox" name="sorties" value="3"><label> Sorties auxquelles je ne suis pas inscrit/e</label>
                    <input type="checkbox" name="sorties" value="4"><label> Sorties passées</label>
                </div>
                <!-- /à droite-->
                <button class="pure-button pure-button-primary pure-input-rounded">Rechercher</button>
            </form>
<br><br>

    <div>
    <table class="pure-table pure-table-horizontal">
        <thead>
            <tr>
                <th>Nom de la sortie</th>
                <th>Date de la sortie</th>
                <th>Cloture</th>
                <th>Inscriptions/places</th>
                <th>Etat</th>
                <th>Inscrit</th>
                <th>Organisateur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for sortie in sorties %}
            <tr>
                <td>{{ sortie.nom }}</td>
                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d') : '' }}</td>
                <td>/{{ sortie.nbInscriptionsMax }}</td>

                <td>{{ sortie.etats_no_etat }}</td>

                <td>X</td>
                
                <td> Organisateur</td>
                <td>
                    <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                    <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                    <a href="">Annuler</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    <br>
    <a class="pure-button" href="{{ path('sortie_new') }}">Create new</a>
    </div>
{% endblock %}
